<!DOCTYPE html>
<html lang="en">
<head>
<title>领达云服务</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="邯郸市领达数字科技有限公司" />
<meta name="keywords" content="邯郸市领达数字科技有限公司" />

<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Muli:300,400,700,900" rel="stylesheet">

<link rel="stylesheet" href="__STATIC__/index/fonts/icomoon/style.css">
<link rel="icon" href="__STATIC__/favicon.ico" type="image/ico">
<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/index/css/jquery-ui.css">
<link rel="stylesheet" href="__STATIC__/index/css/owl.carousel.min.css">
<link rel="stylesheet" href="__STATIC__/index/css/owl.theme.default.min.css">
<link rel="stylesheet" href="__STATIC__/index/css/owl.theme.default.min.css">

<link rel="stylesheet" href="__STATIC__/index/css/jquery.fancybox.min.css">

<link rel="stylesheet" href="__STATIC__/index/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="__STATIC__/index/fonts/flaticon/font/flaticon.css">

<link rel="stylesheet" href="__STATIC__/index/css/aos.css">

<link rel="stylesheet" href="__STATIC__/index/css/style.css">
<style type="text/css">
	/* html {
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);} */
</style>

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div id="overlayer"></div>
<div class="loader">
<div class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
</div>


<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
	<div class="site-mobile-menu-close mt-3">
	  <span class="icon-close2 js-menu-toggle"></span>
	</div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
  
  <div class="container-fluid">
	<div class="d-flex align-items-center">
	  <div class="site-logo"><a href="index.html" class="text-uppercase">LingDa|领达</a></div>
	  <div>
		<nav class="site-navigation position-relative text-right" role="navigation">
		  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-xl-block">
			<li><a href="#home-section" class="nav-link">首页</a></li>
			<li><a href="#work-section" class="nav-link">领达-生活社区</a></li>
			<li><a href="#process-section" class="nav-link">领达-为师</a></li>
			<li><a href="#testimonials-section" class="nav-link">关于我们</a></li>
			
		  </ul>
		</nav>
	  </div>
	  <div class="ml-auto">
		<nav class="site-navigation position-relative text-right" role="navigation">
		  <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-xl-block">
			<li class="cta"><a href="#contact-section" class="nav-link"><span class="border bg-danger rounded text-white border-danger">联系我们</span></a></li>
		  </ul>
		</nav>
		<a href="#" class="d-inline-block d-xl-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
	  </div>
	</div>
  </div>
  
</header>

<div class="intro-section custom-owl-carousel" id="home-section">
  <div class="container">
	<div class="row align-items-center">
	  <div class="col-lg-5 mr-auto" data-aos="fade-up">

		<div class="owl-carousel slide-one-item-alt-text">
		  <div class="slide-text">
			<h1>领达-生活社区</h1>
			<p class="mb-5">关注生活社区，享受品质生活。</p>
			<p><a href="#work-section" class="btn btn-outline-light py-3 px-5">了解详情</a></p>
		  </div>
		  <div class="slide-text">
			<h1>领达-为师</h1>
			<p class="mb-5">温故而知新，可以为师矣。</p>
			<p><a href="#process-section" class="btn btn-outline-light py-3 px-5">了解详情</a></p>
		  </div>
		</div>

	  </div>
	  <div class="col-lg-6 ml-auto"  data-aos="fade-up" data-aos-delay="100">
					
		<div class="owl-carousel slide-one-item-alt">
		  <img src="__STATIC__/index/images/img_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
		  <img src="__STATIC__/index/images/img_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
		</div>

		<div class="owl-custom-direction">
		  <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
		  <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
		</div>

	  </div>
	</div>
  </div>
</div>



<div class="site-section section-2" id="work-section" data-aos="fade">
  <div class="container">
	<div class="row">
	  <div class="col-lg-6 mb-5">
		<h2 class="section-title">领达-生活社区</h2>
		<p>关注生活社区，享受品质生活。</p>
	  </div>
	</div>

  </div>
	

  <div class="owl-carousel nonloop-block-13">

	  <a class="work-thumb" href="__STATIC__/index/images/person_1.jpg" data-fancybox="gallery">
		<div class="work-text">
		  <h3>Project Name Here</h3>
		  <span class="category">Website</span>
		</div>
		<img src="__STATIC__/index/images/person_1.jpg" alt="Image" class="img-fluid">
	  </a> 
	  
	  <a class="work-thumb" href="__STATIC__/index/images/person_2.jpg" data-fancybox="gallery">
		<div class="work-text">
		  <h3>Project Name Here</h3>
		  <span class="category">Illustration</span>
		</div>
		<img src="__STATIC__/index/images/person_2.jpg" alt="Image" class="img-fluid">
	  </a>

	  <a class="work-thumb" href="__STATIC__/index/images/person_3.jpg" data-fancybox="gallery">
		<div class="work-text">
		  <h3>Project Name Here</h3>
		  <span class="category">Branding</span>
		</div>
		<img src="__STATIC__/index/images/person_3.jpg" alt="Image" class="img-fluid">
	  </a>

	  <a class="work-thumb" href="__STATIC__/index/images/person_4.jpg" data-fancybox="gallery">
		<div class="work-text">
		  <h3>Project Name Here</h3>
		  <span class="category">Web Development</span>
		</div>
		<img src="__STATIC__/index/images/person_4.jpg" alt="Image" class="img-fluid">
	  </a>

	  <a class="work-thumb" href="__STATIC__/index/images/person_5.jpg" data-fancybox="gallery">
		<div class="work-text">
		  <h3>Project Name Here</h3>
		  <span class="category">Design</span>
		</div>
		<img src="__STATIC__/index/images/person_5.jpg" alt="Image" class="img-fluid">
	  </a>

	  <a class="work-thumb" href="__STATIC__/index/images/person_6.jpg" data-fancybox="gallery">
		<div class="work-text">
		  <h3>Project Name Here</h3>
		  <span class="category">Design</span>
		</div>
		<img src="__STATIC__/index/images/person_6.jpg" alt="Image" class="img-fluid">
	  </a>

  </div>


</div>


<div class="site-section section-2 bg-light" id="process-section" data-aos="fade">
  <div class="container">
	<div class="row">
	  <div class="col-lg-6 mb-5">
		<h2 class="section-title">领达-为师</h2>
		<p>温故而知新，可以为师矣。</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
		<div class="process bg-white rounded">
		  <div>
			<span class="flaticon-glasses display-4 text-primary mb-4 d-inline-block"></span>
			<h3>师资力量</h3>
			<p>为师公众号发展以来，以务实并开放的态度在线下和线上寻找资历深厚的教师，有近百人的师资团队在背后默默付出着力量，贡献了许许多多优质的课程！我们欢迎更多优秀的老师加入我们，一起创造一个知识无界限的美好世界！<p>
		  </div>

		</div>
	  </div>
	  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
		<div class="process bg-white rounded">
		  <div>
			<span class="flaticon-vector display-4 text-primary mb-4 d-inline-block"></span>
			<h3>用户人群</h3>
			<p style="height: 210px;">现在我们的用户群体多是一群渴望知识的学生，在未来我们希望任何一个渴望得到知识的个体，都能免费从‘为师’获得想要学习的知识或技能！</p>
		  </div>

		</div>
	  </div>
	  <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
		<div class="process bg-white rounded">
		  <div>
			<span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
			<h3>线上生态</h3>
			<p style="height: 210px;">在‘为师’公众号内，您可以免费并系统的学习，并且支持课件下载功能。如果您线下的老师已经是‘为师’的用户，那么可以享受特定课程内容的推送，方便您在课后预习和复习课堂内容。</p>
		  </div>

		</div>
	  </div>
	</div>
  </div>
</div>


<div class="site-section testimonial-wrap custom-owl-carousel" id="testimonials-section">
  <div class="container">
	<div class="row text-center justify-content-center mb-5"  data-aos="fade-up">
	  <div class="col-lg-6 mb-5 text-center">
		<h2 class="section-title w-100 mx-auto">关于我们</h2>
		<p>我们的团队成员均出自一线IT公司，拥有十余年的项目经验。我们有信心为我们的客户提供优质的服务与体验！</p>
	  </div>
	</div>
	<div class="row align-items-center"  data-aos="fade-up" data-aos-delay="100">
	  <div class="col-lg-5 mr-auto">

		<div class="owl-carousel slide-one-item-alt-text">
		  <div class="slide-text">
			<blockquote>
			  <p><span>&ldquo;</span>乐观的态度以及执着的精神一直激励着我前进！<span>&rdquo;</span></p>
			  <p class="author">&mdash;  杨经理</p>
			</blockquote>
		  </div>
		  <div class="slide-text">
			<blockquote>
			  <p><span>&ldquo;</span>客户是我们的上帝，一切需求从实际出发！<span>&rdquo;</span></p>
			  <p class="author">&mdash;  闫经理</p>
			</blockquote>
		  </div>
		  <div class="slide-text">
		   <blockquote>
			  <p><span>&ldquo;</span>一丝不苟的精神加以从容不迫的工作精神能够挖掘出巨大的潜力！<span>&rdquo;</span></p>
			  <p class="author">&mdash;  姚经理</p>
			</blockquote>
		  </div>
		</div>

	  </div>
	  <div class="col-lg-6 ml-auto"  data-aos="fade-up" data-aos-delay="200">
					
		<div class="owl-carousel slide-one-item-alt">
		  <img src="__STATIC__/index/images/yangzewang.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
		  <img src="__STATIC__/index/images/yyy.jpg" style="height: 541px;" alt="Free Website Template by Free-Template.co" class="img-fluid">
		  <img src="__STATIC__/index/images/yaoxiaodong.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
		</div>

		<div class="owl-custom-direction">
		  <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
		  <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
		</div>

	  </div>
	</div>
  </div>
</div>


<div style="border: 1px solid rgb(206,212,218);"></div>

<!-- <div class="site-section"  data-aos="fade">
  <div class="container">
	<a href="https://vimeo.com/325355987" class="video-img-bg" data-fancybox data-ratio="2">
	  <span class="play-button">
		<span class="icon-play"></span>
	  </span>
	  <img src="__STATIC__/index/images/video_bg.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
	</a>
  </div>
</div> -->

<div class="site-section" id="contact-section"  data-aos="fade">
  <div class="container">

	<div class="row align-items-center">
	  <div class="col-md-5 order-1 order-md-2 mb-5 mb-md-0">
		<img src="__STATIC__/index/images/about_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
	  </div>
	  <div class="col-md-6 mr-auto order-2 order-md-1">
		
		<h2 class="section-title mb-3">联系我们</h2>
		<p class="mb-5">如果您有任何问题或需求可以在下方填写您的信息，并且简述您的想法。我们会与您尽快取得联系，并且欢迎与我们洽谈合作！</p>
	  
		<form method="post">
		  <div class="form-group row">
			<div class="col-md-6 mb-4">
			  <input type="text" class="form-control" id="name" placeholder="您的称呼" value="">
			</div>
		  </div>

		  <div class="form-group row">
			<div class="col-md-12">
			  <input type="text" class="form-control" id="title" placeholder="标题" value="">
			</div>
		  </div>

		  <div class="form-group row">
			<div class="col-md-12">
			  <input type="email" class="form-control" id="phone" value="" placeholder="您的邮箱或电话">
			</div>
		  </div>
		  <div class="form-group row">
			<div class="col-md-12">
			  <textarea class="form-control" id="xuqiu" cols="30" rows="10" id="xuqiu" placeholder="在此简述您的需求"></textarea>
			</div>
		  </div>

		  <div class="form-group row">
			<div class="col-md-6">
			  
			 
			</div>
		  </div>

		</form>
		 <input type="submit" id="tijiao" class="btn btn-primary py-3 px-5 btn-block" value="提交">
	  </div>
	  
	</div>
  </div>
</div>


 
<footer class="footer-section bg-light">
  <div class="container">
	<div class="row">
	  <div class="col-md-4">
		<h3>公司简介</h3>
		<p>邯郸市领达数字科技有限公司是一家以社区和园区为中心，以创造生活便利为方向，以全民小康社会，享受高品质生活为愿景的创新型企业。</p>
	  </div>

	  <div class="col-md-3 ml-auto">
		<h3>导航</h3>
		<ul class="list-unstyled footer-links">
		  <li><a href="#home-section" class="smoothscroll">首页</a></li>
		  <li><a href="#work-section" class="smoothscroll">领达-生活社区</a></li>
		  <li><a href="#process-section" class="smoothscroll">领达-为师</a></li>
		  <li><a href="#testimonials-section" class="smoothscroll">关于我们</a></li>
		</ul>
	  </div>

	  <div class="col-md-4">
		<h3>友情链接</h3>
		<p>敬请期待</p>
		<form action="#">
		</form>
	  </div>

	</div>

	<div class="row pt-5 mt-5 text-center">
	  <div class="col-md-12" style="margin-left: -10%;">
		<div class="border-top pt-5">
		  <p>
	  		<small class="block">Copyright &copy; 2022 邯郸市领达数字科技有限公司 <a href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2022019280号</a></small> 
	  	 </p>
		
		</div>
		<div style="    width: 261px;
    margin: -59px 762px;
    padding: 20px 0;">
		    <small> <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011302005215" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="__STATIC__/index/images/jh.png" style="float:left;"/><p style="    font-size: 3px;float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11011302005215号</p ></a></small>
		    </div>
	  </div>
	  
	</div>
  </div>
</footer>

</div> <!-- .site-wrap -->

<script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
<script src="__STATIC__/index/js/jquery-ui.js"></script>
<script src="__STATIC__/index/js/popper.min.js"></script>
<script src="__STATIC__/index/js/bootstrap.min.js"></script>
<script src="__STATIC__/index/js/owl.carousel.min.js"></script>
<script src="__STATIC__/index/js/jquery.easing.1.3.js"></script>
<script src="__STATIC__/index/js/aos.js"></script>
<script src="__STATIC__/index/js/jquery.fancybox.min.js"></script>
<script src="__STATIC__/index/js/jquery.waypoints.min.js"></script>
<script src="__STATIC__/index/js/jquery.animateNumber.min.js"></script>
<script src="__STATIC__/index/js/jquery.sticky.js"></script>
<script src="__STATIC__/index/js/main.js"></script>
<script src="__STATIC__/js/layer/layer/layer.js"></script>

</body>
</html>
<script type="text/javascript">
	$("#tijiao").click(function(){
		var name = $("#name").val();
		var title = $("#title").val();
		var phone = $("#phone").val();
		var xuqiu = $("#xuqiu").text();
		if(name == '' && title == '' && phone == '' && xuqiu == ''){
			layer.msg('请填写全部信息');
			return false;
		}else{
			$.ajax({
			    url:"/index.php/index/index/connect",
			    dataType:"json",
			    type:"get",
						  data:{
							  'name':name,
							  'title':title,
							  'phone':phone,
							  'xuqiu':xuqiu
						  },
			    success:function(json){
			      				if(json['code'] == 1){
									layer.msg('提交成功,请保持电话畅通');
								}else{
									layer.msg('提交失败,请重新提交');
								}
											
			
			    }
			})
		}
	})
</script>