
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>领达数字科技 </title>
		<link rel="stylesheet" href="__STATIC__/css/reset.css" />
		<link rel="stylesheet" href="__STATIC__/css/common.css" />
		<style type="text/css">
			.footer {
			
			position: fixed;
			
			left: 0px;
			
			bottom: 0px;
			
			width: 100%;
			
			height: 35px;
			
			background-color: rgb(248,239,221);
			
			z-index: 9999;
			text-align: center;
			padding-top: 18px;
			
			
			}
			.footer a{
				color: black;
				font-size: 16px;
				
			}
		</style>
	</head>

	<body>
		<div class="wrap login_wrap">
			<div class="content">
				
				<div class="logo"></div>
				
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							<p>扫码关注公众号</p>
							<img src="__STATIC__/images/lingda.jpg" style="margin-left: -19px;"/>
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="footer">
					<!-- <a href=" " target="_blank">冀ICP备2022019280号-1</ a> -->
					<a href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2022019280号-1 | Copyright © 2022 邯郸市领达数字科技有限公司 冀ICP备2022019280号-1</a>
					
			</div>	
		</div>
		 

		<script type="text/javascript" src="__STATIC__/js/jquery.min.js" ></script>
		<script type="text/javascript" src="__STATIC__/js/common.js" ></script>
	</body>
</html>